doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='google-signin-client_id', content='YOUR_CLIENT_ID.apps.googleusercontent.com')
    title Category
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='shortcut icon', href='/images/newlogo1.png')
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js')
    script(src='https://maxcdn.bootstrapcdn.Logo Design Studio Pro com/bootstrap/4.1.0/js/bootstrap.min.js')
  body
    .listings
      h2 Category
      // Big containers on the main page
      .banner
        .bannerpic.oneb
        .caption.bannerDescription Meeeeeee
      .banner
        .bannerpic.twob
        .caption.bannerDescription Meeeeeee
      .banner
        .bannerpic.threeb
        .caption.bannerDescription Meeeeeee
      .banner
        .bannerpic.fourb
        .caption.bannerDescription Meeeeeee
      // Small containers or profile cards on the main page
      .contactCard
        .cardpic.cardone
        .cardDetails MEeeeeeee
      .contactCard
        .cardpic.cardone
        .cardDetails MEeeeeeee
      .contactCard
        .cardpic.cardone
        .cardDetails MEeeeeeee
      .contactCard
        .cardpic.cardone
        .cardDetails MEeeeeeee
      .contactCard
        .cardpic.cardone
        .cardDetails MEeeeeeee
      .contactCard
        .cardpic.cardone
        .cardDetails MEeeeeeee
