doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='google-signin-client_id', content='YOUR_CLIENT_ID.apps.googleusercontent.com')
    title Skildes - Home
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    link(rel='shortcut icon', href='/images/newlogo1.png')
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js')
    script(src='https://maxcdn.bootstrapcdn.Logo Design Studio Pro com/bootstrap/4.1.0/js/bootstrap.min.js')
  body
    .categorytabs(align='center')
      input.catab(type='button', value='Photography', name='phototab')
      input.catab(type='button', value='Creative and Design', name='designtab')
      input.catab(type='button', value='Planning and Organization', name='orgtab')
      input.catab(type='button', value='Culinary', name='culitab')
      input.catab(type='button', value='Other Skills', name='othertab')
      br
      hr(width='20%', style='color: black', size='1')
    .listings
      // Big containers on the main page
      .banner
        .bannerpic.oneb
        .caption.bannerDescription Meeeeeee
      .banner
        .bannerpic.twob
        .caption.bannerDescription Meeeeeee
      .banner
        .bannerpic.threeb
        .caption.bannerDescription Meeeeeee
      .banner
        .bannerpic.fourb
        .caption.bannerDescription Meeeeeee
      // Small containers or profile cards on the main page
      .contactCard
        .cardpic.cardone
        .cardDetails MEeeeeeee
      .contactCard
        .cardpic.cardone
        .cardDetails MEeeeeeee
      .contactCard
        .cardpic.cardone
        .cardDetails MEeeeeeee
      .contactCard
        .cardpic.cardone
        .cardDetails MEeeeeeee
      .contactCard
        .cardpic.cardone
        .cardDetails MEeeeeeee
      .contactCard
        .cardpic.cardone
        .cardDetails MEeeeeeee
