doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='google-signin-client_id', content='YOUR_CLIENT_ID.apps.googleusercontent.com')
    title Profile
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='shortcut icon', href='/images/newlogo1.png')
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js')
    script(src='https://maxcdn.bootstrapcdn.Logo Design Studio Pro com/bootstrap/4.1.0/js/bootstrap.min.js')
  body
    #profilepage
      #gallarytab.gallarydiv
      .profilebody
        .profilecontent
          h1#skillname Isaac's Photography
          br
          .pro_pic
          br
          p Isaac Murisa
          p Based in St. John's
          br
          h4
            b Description
          p
            | dgnsfdbsfbsgfhwgsjbrhcisudrgh wkieugfwiouerfxoqihrfiocwheru hwoeiurghcnwiuerh gkrvuihw oirgywiuerhvbowi7y lgi wuy
            | yetb8cgebsftcgksidgcfbkeg fkearbf ygtrf87qkba87edtroqiuweyfboqui3gf iuqtiurf qliur f8qg o87retfcwiue fcq8wc quaebtr
            | kuyg dfiuawgbcaubsf wyfgqkaxg flawegfqiuewgfvbiusgrf;ou vag r9ug uirgff ahrg;tabewcgbiutyfbaloehtbl8sdehf curf;OIYWE
            | UYTDIHSLJBJGSKRBLKBkugsjbmdflzibfs hosdhflkhbdhsleb eroisehdlhlabsrubvaoiyefvsgtklh voiysloizyhao.irhv ioyrgb zrdbt;vaiy
          br
          h4
            b Qualifications
          p
            | lkauergflaiuhregarlf uyrhlg ahergoh aprhga udrgpauihgp lsidhfpoiha spdfhg alihrgiha prhg pahrguahgla auiyr auigrailug
            | kuygdkfyag gfluigakskugflg,zjdgflau auryg lkmh rjvhzgkrugf arg kiauregl aiurug lauyrglauerg luaghl ua glauyrgla udrgpauihgpu
            | j,a grluig jh akh khk ahlghahg lkgu kudg
          br
          h4
            b Pricing
          p $200 per day
          p kazsfvaduysvjvc aksygdkA ADSJVCB
          br
          h4
            b Availability
          p ajkgdscahvdkcjasvdcahvdsjkbkhjbasd ivks h
          h4
            b Reviews
        .bookingdiv
          p
            b $200
            |  per day
          input#bookdate.bookingInput(type='date')
          label(for='bookdate') Date
          input#booktime.bookingInput(type='time')
          label(for='booktime') Time
          textarea.bookingm(name='bookingmessage', cols='30', rows='10', placeholder='Message')
          input.bookingbutton(type='button', value='Request')
