{% extends "layout.html" %}
{% block body %}
        <div>
	{% if user_data.answer|safe == next %}
            <form action="{{ url_for('newPassword') }}" method=post>
                Enter new password: 
                <input type=password name=newPass></br>
                Retype Password:
                <input type=password name=retype></br>
                <input type=submit name=r_set value=Reset>
            </form>
	{% else %}
	    Incorrect Answer
	    <a href="{{ url_for('security') }}">Try again</a>
	{% endif %}
        </div>
{% endblock %}
